[submodule "groups/nvim/files/neovim-config"]
	path = groups/nvim/files/neovim-config
	url = git@github.com:ethanrutt/neovim-config.git
[submodule "groups/obsidian/files/obsidian_vaults"]
	path = groups/obsidian/files/obsidian_vaults
	url = git@github.com:ethanrutt/obsidian_vaults.git
