[user]
	email = ethan.rutt2032@gmail.com
	name = ethanrutt
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
	tool = nvimdiff
[pull]
	rebase = false
[alias]
	a = add
	r = restore
	b = branch
	cm = commit -m
	c = commit
	cl = clone
	co = checkout
	discard = reset HEAD --hard
	ps = push
	pl = pull
	s = status
	d = diff
	l = log
